html, body {
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cimabaixo{
    flex: 1;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}
.centro{
    flex: 8;
    background-color: ghostwhite;
}
.baixo{
    flex: 1;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}